<!DOCTYPE html>
<html>
<head><title>City-Finder</title></head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
	<div ng-app = "City_App" ng-controller = "City_Controller">
		<input ng-model="CityofChoice">
		<button ng-click="FetchCity()">Fetch</button>
		<ul>
			<li ng-repeat="City in Cities">
				{{ City.city + "(" + City.state + " - " + City.country + ")"}}
			</li>
		</ul>
	</div>
	<script>
		var City_App = angular.module ( "City_App", []);
		City_App.controller ("City_Controller",function ($scope,$http){
			$scope.FavouriteCities = ["Antwerpen","NewCastle","Valencia","Antananarivo"];
			$scope.CityofChoice = $scope.FavouriteCities [Math.floor( Math.random () * $scope.FavouriteCities.length)];
		
		$scope.FetchCity = function(){
			var Query = "https://andruxnet-world-cities-v1.p.mashape.com/?query=" + $scope.CityofChoice + "&searchby=city";
			$http ({
				method: "GET",
				url: Query,
				headers: {
					"X-Mashape-Key": "28KQQZziX3mshu8PTfV45i31b2kfp1pZO4YjsnJlZgkl9FvsSj",
					"Accept": "application/json"
				}
			}).then(
				function(response){ $scope.Cities = response.data;}
			);
		};
	});
	</script>
</body>
</html>